
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#f5f7fa;
    color:#2a9e00;
    line-height:1.6;
}



header{
    background:#004126;
    padding:20px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo h1{
    color:#2a9e00;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#22c55e;
}



.hero{
    background-image:
    linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url("images/airwater.png");

    background-size:cover;
    background-position:center;
    height:900px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
    padding:40px;
}

.hero-content{
    max-width:800px;
}

.hero h2{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    background:#22c55e;
    color:white;
    text-decoration:none;

    padding:15px 30px;
    border-radius:30px;

    transition:0.3s;
}

.btn:hover{
    background:#16a34a;
}



.info-section{
    max-width:1200px;

    margin:80px auto;

    display:flex;
    align-items:center;
    gap:50px;

    padding:20px;
}

.info-section img{
    width:500px;
    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.info-text{
    flex:1;
}

.info-text h2{
    font-size:35px;
    margin-bottom:20px;
}

.info-text p{
    margin-bottom:15px;
}

.reverse{
    flex-direction:row-reverse;
}


.video-section{
    max-width:1000px;
    margin:80px auto;
    text-align:center;
}

.video-section h2{
    margin-bottom:20px;
}

.video-section video{
    width:100%;
    border-radius:20px;
}
index

.stats-table{
    width:90%;
    margin:60px auto;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

th{
    background:#16a34a;
    color:white;
}

th,
td{
    padding:15px;
    border:1px solid #ddd;
    text-align:center;
}



.chart-section{
    max-width:900px;
    margin:60px auto;

    background:#081c15;
    color:white;

    padding:40px;
    border-radius:20px;
}

.chart-section h2{
    margin-bottom:30px;
}

.bar-container{
    margin-bottom:25px;
}

.bar-container span{
    display:block;
    margin-bottom:10px;
}

.bar{
    height:40px;

    background:#22c55e;

    border-radius:10px;

    display:flex;
    align-items:center;

    padding-left:15px;
    font-weight:bold;

    transition:0.3s;
}

.bar:hover{
    transform:scale(1.02);
}

.bar1{
    width:100%;
}

.bar2{
    width:75%;
}

.bar3{
    width:55%;
}

.bar4{
    width:40%;
}

.bar5{
    width:25%;
}



.contact-info{
    max-width:900px;
    margin:60px auto;
    text-align:center;
}

.contact-info h2{
    margin-bottom:20px;
}

.contact-info p{
    margin-bottom:10px;
}

form{
    max-width:700px;

    margin:50px auto;

    display:flex;
    flex-direction:column;

    gap:15px;
}

input,
textarea{
    padding:15px;

    border:1px solid #ccc;
    border-radius:10px;

    font-size:16px;
}

button{
    padding:15px;

    border:none;
    border-radius:10px;

    background:#16a34a;
    color:white;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    background:#15803d;
}



footer{
    background:#004126;
    color:white;

    text-align:center;

    padding:40px 20px;
    margin-top:80px;
}

footer h3{
    margin-bottom:15px;
}

footer p{
    margin-bottom:10px;
}





.hero,
.info-section,
.chart-section,
.contact-info{
    animation:fadeUp 1s ease;
}



@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    .hero h2{
        font-size:40px;
    }

    .info-section{
        flex-direction:column;
    }

    .reverse{
        flex-direction:column;
    }

    .info-section img{
        width:100%;
    }

}


.about-card,
.contact-card{

    max-width:1000px;
    margin:40px auto;

    padding:35px;

    background:white;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    border-left:6px solid #22c55e;

    transition:0.3s;
}

.about-card:hover,
.contact-card:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.about-card h2,
.contact-card h2{

    color:#16a34a;

    margin-bottom:15px;

    font-size:30px;
}

.about-card p,
.contact-card p{

    font-size:18px;

    line-height:1.8;
}



.health-list{

    max-width:1000px;

    margin:40px auto;

    padding:35px;

    background:white;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.health-list h2{

    color:#16a34a;

    margin-bottom:20px;
}

.health-list ul{

    list-style:none;
}

.health-list li{

    background:#f0fdf4;

    padding:15px;

    margin-bottom:12px;

    border-left:5px solid #22c55e;

    border-radius:10px;

    transition:0.3s;
}

.health-list li:hover{

    transform:translateX(10px);
}



.contact-info{

    max-width:1000px;

    margin:40px auto;

    padding:35px;

    background:white;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    text-align:center;
}

.contact-info h2{

    color:#16a34a;

    margin-bottom:20px;
}

.contact-info p{

    font-size:18px;

    margin-bottom:10px;
}


.social-links{

    display:flex;

    justify-content:center;

    gap:20px;

    margin-top:20px;
}

.social-links a{

    text-decoration:solid;

    color:white;

    background:#16a34a;

    padding:12px 20px;

    border-radius:10px;

    transition:0.3s;
}

.social-links a:hover{

    background:#15803d;
}
.contact-card{

    max-width:1000px;

    margin:40px auto;

    padding:35px;

    background:white;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    border-left:6px solid #22c55e;

    transition:0.3s;
}

.contact-card:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.contact-card h2{

    color:#16a34a;

    margin-bottom:15px;
}

.contact-card p{

    font-size:18px;

    line-height:1.8;
}


.about-card{

    max-width:1000px;

    margin:40px auto;

    padding:35px;

    background:white;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    border-left:6px solid #22c55e;

    transition:0.3s;
}

.about-card:hover{

    transform:translateY(-8px);

    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.about-card h2{

    color:#16a34a;

    margin-bottom:15px;

    font-size:30px;
}

.about-card p{

    font-size:18px;

    line-height:1.8;
}

.about-card ul{

    margin-top:15px;
    padding-left:20px;
}

.about-card li{

    margin-bottom:10px;

    font-size:18px;
}
.about-hero{

    max-height:800px;

    background-image:
    linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url("images/abcdf.jpeg");
    height:600px;

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;

    padding:100px;
    
}

.about-hero h2{

    font-size:55px;

    margin-bottom:20px;
}

.about-hero p{

    font-size:20px;

    max-width:800px;
}
.about-card h2,
.contact-card h2{
    text-align:center;
}
form{
    max-width:700px;
    margin:20px auto;
}
{
    font-size:28px;
    padding:20px;
    background:#0f766e;
}

.health-chart{

    max-width:1000px;

    margin:40px auto;

    padding:35px;

    background:rgb(29, 20, 20);

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    border-left:6px solid #22c55e;
}

.health-chart h2{

    text-align:center;

    color:#16a34a;

    margin-bottom:30px;

    font-size:30px;
}

.health-bar{

    margin-bottom:25px;
}

.health-bar span{

    display:block;

    margin-bottom:8px;

    font-weight:bold;

    color:#1a7707;
}

.bar-fill{

    height:40px;

    background:#22c55e;

    border-radius:10px;

    display:flex;

    align-items:center;

    padding-left:15px;

    color:white;

    font-weight:bold;

    transition:0.3s;
}

.bar-fill:hover{

    transform:scale(1.02);
}

.risk1{
    width:85%;
}

.risk2{
    width:75%;
}

.risk3{
    width:60%;
}

.risk4{
    width:50%;
}

.risk5{
    width:35%;
}