body{
    background-color: aquamarine;
}
.logo{
    color: rgb(72, 103, 27);
}
header{
    background:#004126;
    padding:20px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}
nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#22c55e;
}
table{
    background-color:cadetblue;
    margin-bottom: 30px;
}
.hero-content{
    margin-bottom: 30px;
}
.btn{
    background:#22c55e;
    color:white;
    text-decoration:none;

    padding:15px 30px;
    border-radius:30px;

    transition:0.3s;
}
.btn:hover{
 background:#16a34a;
}
.container{
    color: rgb(0, 73, 20);
    text-align: center;
}
.stats-table{
    width:70%;
    margin:60px auto;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

th{
    background:#16a34a;
    color:white;
}

th,
td{
    padding:15px;
    border:1px solid #ddd;
    text-align:center;
}
.table{
    color: rgb(0, 73, 20);
    text-align: center;
}
.hero-content{
    margin: auto;
    text-align: center;
}
footer{
    background-color: #16a34a;
    text-align: center;
    padding: 20px 50px;
}